<!DOCTYPE html>
<html>
    <head>
        <title>iTicket - Conciertos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/estilo.css" rel="stylesheet" type="text/css"/>
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        
    </head>
    <body>
        <form name="formulario" >
            <h1>Formulario</h1><p>
            <input type="text" name="ID" value="" size="5" placeholder="ID" required /><p>
            <input type="text" name="Artista" value="" size="20" placeholder="Artista" required /><p>
            <input type="text" name="Costo" value="" size="10" placeholder="Costo" required /><p>
            <input type="text" name="Fecha" value="" size="10" placeholder="Fecha" required /><p>
            <input type="text" name="Capacidad Máxima" value="" size="12" placeholder="Capacidad Máxima" required /><p>
            <input type="submit" class="button" value="Crear Evento" name="Ingresar" /> <input type="reset" class="button" value="Cancelar" name="Cancelar" /><p>
            <a href="conciertos.html">Ver conciertos</a>
            
            
        </form>
        
    </body>
</html>
